{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ article.title }}</h1>
        </div>
        {% if author %}
            <div class="byline">
                <span>
                    {{ 'text.byline'|trans }} <a href="{{ path('author-redirect', {'pubkey': article.pubkey}) }}">
                        <twig:atoms:NameOrNpub :author="author" />
                    </a>
                </span>
                <span>
                    {% if article.publishedAt is not null %}
                        <small>{{ article.publishedAt|date('F j, Y') }}</small>
                    {% else %}
                        <small>
{#                            <twig:ux:icon name="heroicons:pencil" class="icon" /> #}
                            {{ article.createdAt|date('F j, Y') }}</small><br>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="lede">
            {{ article.summary }}
        </div>

        {% if article.image %}
            <div class="article__image">
                <img src="{{ article.image }}" alt="{{ article.title }}">
            </div>
        {% endif %}

        <div class="article-main">
            {{ content|raw }}
        </div>

        <hr class="divider" />
        <div class="tags">
            {% for tag in article.topics %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>

    </div>

{#    <pre>#}
{#        {{ article.content }}#}
{#    </pre>#}
    <twig:Organisms:Comments current="30032:{{ article.pubkey }}:{{ article.slug }}"></twig:Organisms:Comments>
{% endblock %}

{% block aside %}
    {% if is_granted('ROLE_ADMIN') %}
        <p>30032:{{ article.pubkey }}:{{ article.slug }}</p>
    {% endif %}
{#    <h1>Suggestions</h1>#}
{#    <twig:Organisms:CardList :list="suggestions" />#}
{% endblock %}
