{% extends 'base.html.twig' %}

{% block body %}

    {% if author.image is defined %}
    <img src="{{ author.image }}" alt="{{ author.name }}" />
    {% endif %}

    <h1><twig:atoms:NameOrNpub :author="author"></twig:atoms:NameOrNpub></h1>
    {% if author.about is defined %}
        <p class="lede">
            {{ author.about }}
        </p>
    {% endif %}

    {% if nzine %}
        <a href="{{ path('nzine_view', {npub: author.npub}) }}">View as N-Zine</a>

        <h2>List of indices</h2>
        {% for i in idx %}
            {{ i.title }}
        {% endfor %}
    {% endif %}

    <twig:Organisms:CardList :list="articles"></twig:Organisms:CardList>
{% endblock %}

{% block aside %}
{#    <twig:Organisms:ZineList :nzines="nzines" />#}
{% endblock %}
