{% extends 'base.html.twig' %}

{% block body %}
    {% if nzine is not defined %}
        <h1>{{ 'heading.createNzine'|trans }}</h1>
        <twig:Atoms:Alert >N-Zines are in active development. Expect weirdness.</twig:Atoms:Alert>
        <p class="lede">
            An N-Zine is a digital magazine definition for
            collecting long form articles from the <em>nostr</em> ecosystem according to specified filters.
            The N-Zine can then be read and browsed as a traditional digital magazine made available on this platform.
            Additionally, it can be subscribed to using the <em>nostr</em> bot which will be generated during the setup process.
            Your currently logged-in <em>npub</em> will be assigned to the N-Zine as an editor, so you can come back later and tweak the filters.
        </p>

        <h2>N-Zine Details</h2>
        <p>
            Choose a title and write a description for your N-Zine.
            A profile for your N-Zine bot will also be created.
            The bot will publish an update when a new article is found that matches N-Zine's filters.
            <br>
            <small>We know it's lame, but right now we cannot automatically update your follows to include the N-Zine bot.</small>
        </p>

        {{ form_start(form) }}
        {{ form_end(form) }}


    {% else %}
        <h1>{{ 'heading.editNzine'|trans }}</h1>


        <h2>Indices</h2>
        <ul>
            {% for idx in indices %}
                <li>{{ idx.title }}</li>
            {% endfor %}
        </ul>


        <h2>Categories</h2>
        <p>
            Create and edit categories. You can have as many as you like. Aim at up to 9 for the sake of your readers.
        </p>

        {{ form_start(catForm) }}

        <ul class="tags">
            {% for cat in catForm.categories %}
                <li>{{ form_widget(cat) }}</li>
            {% endfor %}
        </ul>

        <div {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ catForm.categories|length > 0 ? catForm.categories|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(catForm.categories.vars.prototype)|e('html_attr') }}"
        >
            <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
            <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add item</button>
        </div>


        <button class="btn btn-primary">Save</button>
        {{ form_end(catForm) }}

    {% endif %}
{% endblock %}
