{% if article is defined %}
    <div class="card">
        <div class="metadata">
            {% if category %}
                <small>{{ category }}</small>
            {% else %}
                {% if not is_author_profile %}
                    <p>by <twig:Molecules:UserFromNpub ident="{{ article.pubkey }}" /></p>
                {% endif %}
                <small>{{ article.createdAt|date('F j Y') }}</small>
            {% endif %}
        </div>
        <a href="{{ path('article-slug', {slug: article.slug}) }}">
            <div class="card-header">
                {% if category %}<small class="text-uppercase">{{ category }}</small>{% endif %}
                {% if article.image %}
                    <img src="{{ article.image }}" alt="Cover image for {{ article.title }}" onerror="this.style.display='none';" >
                {% endif %}
            </div>
            <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    {% if article.summary %}
                        <p class="lede">
                            {{ article.summary }}
                        </p>
                    {% endif %}
            </div>
        </a>
        <div class="card-footer"></div>
    </div>
{% endif %}
