<!DOCTYPE html>
<html lang="en" data-theme="{{ app.session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newsroom{% endblock %}</title>
    <meta name="description" content="Decentralised Newsroom - the future of journalism">
    <link rel="icon" type="image/png" href="{{ asset('icons/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('icons/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('icons/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('icons/apple-touch-icon.png') }}">
    <meta name="apple-mobile-web-app-title" content="Newsroom" />
    <link rel="manifest" href="{{ path('pwa_manifest') }}">

    {% block ogtags %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body data-controller="service-worker">

<twig:Header />


<div class="layout">
    <nav>
        <twig:UserMenu />
        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
    <aside>
        {% block aside %}{% endblock %}
    </aside>
</div>

<div data-controller="install-prompt">
    <div
        class="install-prompt-box hidden"
        data-install-prompt-target="promptBox"
    >
        <p>Install this app on your device for quick access?</p>
        <button data-action="click->install-prompt#install">Yes, install</button>
        <button data-action="click->install-prompt#dismiss">No thanks</button>
    </div>
</div>


<footer>
    <twig:Footer />
</footer>

</body>
</html>
