<div class="footer-links">
    <a href="{{ path('app_static_about') }}">About</a> -
    <a href="{{ path('app_static_roadmap') }}">Roadmap</a> -
{#    <a href="{{ path('app_static_pricing') }}">Pricing</a> -#}
    <a href="{{ path('app_static_tos') }}">Terms of service</a>
{#    <a href="https://geyser.fund/project/newsroom?hero=nuapuki">Decent Newsroom - Geyser fund</a>#}
</div>
<p>{{ "now"|date("Y") }} Decent Newsroom - Preprint</p>
