<div class="footer-links">
    <a href="{{ path('app_static_about') }}">About</a> -
    <a href="{{ path('app_static_roadmap') }}">Roadmap</a> -
{#    <a href="{{ path('app_static_pricing') }}">Pricing</a> -#}
    <a href="{{ path('app_static_tos') }}">Terms of service</a>
    <br>
    <a href="https://geyser.fund/project/newsroom" target="_blank">Decent Newsroom @ Geyser fund</a>
</div>
<p>{{ "now"|date("Y") }} Decent Newsroom - v0.0.1 Preprint</p>
