<div class="user-menu" {{ attributes.defaults(stimulus_controller('login')) }}>
    {% if app.user %}
        <div class="notice info">
            <twig:Molecules:UserFromNpub ident="{{ app.user.npub }}" />
            {% if is_granted('ROLE_ADMIN') %}<span class="badge">Admin</span>{% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
{#        <ul>#}
{#            <li>#}
{#                <a href="{{ path('admin_roles') }}">{{ 'heading.roles'|trans }}</a>#}
{#            </li>#}
{#        </ul>#}
        {% endif %}
        <ul class="user-nav">
            {% if magazine_community_articles %}
                <li>
                    <a href="{{ path('articles') }}">Latest Articles</a>
                </li>
            {% endif %}
{#            <li>#}
{#                <a href="{{ path('editor-create') }}">Write an article</a>#}
{#            </li>#}
            <li>
                <a href="{{ path('app_search_index') }}">{{ 'heading.search'|trans }}</a>
            </li>
{#            <li>#}
{#                <a href="{{ path('app_index_index') }}">{{ 'heading.index'|trans }}</a>#}
{#            </li>#}
            <li>
                <a href="/logout" data-action="live#$render">{{ 'heading.logout'|trans }}</a>
            </li>
        </ul>
    {% else %}
        <div class="notice info">
            <p>Log in to access search.</p>
        </div>
        <twig:Atoms:Button {{ ...stimulus_action('login', 'loginAct') }}>{{ 'heading.logIn'|trans }}</twig:Atoms:Button>
    {% endif %}
    <div>
        <div class="spinner" data-loading>
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</div>
